*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(#a723ff, #e510e9,#f4d943);
}
#the-form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f4e4e;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 5%;
    margin-left: 29%;
    border-radius: 1rem;
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.5);
}

#title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
   color:  hsl(0, 0%, 100%);
    margin: 1rem 0;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 3rem;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}
#form input:focus{
    border: 1px solid  hsl(0, 0%, 100%);
}

#form button{
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    background-color:  hsl(0, 0%, 100%);
    color: #303030;
    cursor: pointer;
    margin-bottom: 3%;
  margin-top: 3%;
}
#form button:hover{
    background-color: #303030;
    color: black;
}
#form button:active{
    background-color: #303030;
    color: black;
}
#d1{
    display: flex;
    width: 80%;
   
}
#d2{
    display: flex;
    width: 80%;
   
}
#d3{
    display: flex;
    width: 80%;

}
#d4{
    display: flex;
    width: 80%;

}
#d5{
    display: flex;
    width: 80%;

}
#error{
    color:  hsl(0, 0%, 100%);
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.card{
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 0%, 2%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 5%;
    margin-left: -20%;
    border-radius: 1rem;
    box-shadow:  0 0 10px 0 rgb(255, 253, 253);
}
#body{
    display: flex;
}
#contact-details{

   margin-left: 5%;
   margin-top: 4.3%;

}
#contact-details .card{
    height: 98%;
    width: 90%;
}
.card img{
    width: 80px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    color: #1100ff;

}
a{
    text-decoration: none;
    color: #1100ff;
}
#btn-close{
    background-color: hsl(0, 0%, 100%);
    color: #1100ff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
#btn-close:hover{
    background-color: #1100ff;
    color:  hsl(0, 0%, 100%);
}
#btn-close:active{
    background-color: #1100ff;
    color:  hsl(0, 0%, 100%);
}
#card-header{
    display: flex;
}

